fastapi~=0.115.14
uvicorn
pydantic~=2.11.7
openai
langchain~=0.3.26
langchain-chroma
langchain-community
langchain-huggingface
langchain-openai~=0.3.27
chromadb~=1.0.15
python-dotenv~=1.1.1
sentence-transformers
transformers
langchain-core~=0.3.66